---
layout: default
title: reflections
---

{% include home-nav.md %}

<header class="nonhome-page-heading">
    <h1>latest {{ page.title }}</h1>
    <p>
        These are concise technical notes written after completing
        projects or study. They reflect my understanding at the time 
        of writing.
    </p>
</header>

<hr>

<div class="post-list-content">
{% for post in site.posts %}
    {% if post.categories contains "reflection" %}

        {% include post-list.md %}

    {% endif %}
{% endfor %}
</div>