<div class="post_subheading_top">
    <p>{{ page.category }}</p>
    <p>{{ page.date | date: "%Y-%b-%d" }}</p>
</div>
<div class="post_subheading_bottom">
    <p>{{ page.repo }}</p>

    <ul class="post_subheading_icon_display">
    {% for skills in page.skills %}
        <li><a href="/skills/{{ skills }}">
            <img src="/assets/img/skill-icons/{{ skills }}.svg" class="post_subheading_icon_imgs">
        </a></li>
    {% endfor %}
    {% for tech-stack in page.tech-stack %}
        <li><a href="/tech-stack/{{ tech-stack }}">
            <img src="/assets/img/tech-icons/{{ tech-stack }}.svg" class="post_subheading_icon_imgs">
        </a></li>
    {% endfor %}
    </ul>
    
</div>