<div style="flex-basis: 25%;">
    <img src="{{ item.image }}" alt="{{ item.title }}">
</div>

<div>
    <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
    <p>{{ item.personal-value }} - {{ item.industry-value }}</p>
    <div class="post_subheading_bottom">
        <p><a href="{{ item.link }}" target="_blank">...visit {{ item.type }}</a></p>

        <ul class="post_subheading_icon_display">
            {% include skills_tech-in-item_skills_tech.html %}
        </ul>
    </div>
    
</div>