* { box-sizing: border-box;}

/*============= default styles ============*/
    body {
        background-color: #f1f1f1;
        font-weight: 400;
        font-family: 'DejaVu sans Mono', monospace;
        width: 100%;
        max-width: 1400px;
        min-width: 0;
        padding: 40px;
        color: #36454f
    }
    a {text-decoration: none; color: inherit;}
    a:hover {text-decoration: underline;}

/*=============== HEADER STYLES ================*/

.home_nav_button {text-align: right;}

.post_subheading_top {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #36454f;
}
.post_subheading_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post_subheading_icon_imgs {
    width: 100%; 
    height: 20px; 
    object-fit: contain;}
.post_subheading_icon_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}

/*================== NAV-BAR-PAGE STYLES ==================*/

.projects-nav-post_list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px dashed #36454f;
}


/*---------------titles, blurbs -------------*/

/*
header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.head-center {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.head-blurb {width: 65%; margin: 0 auto;}
.head-left {
    display: flex;
    align-items: left;
    align-content: left;
    width: 100%;
}

/*------------- post subheading styles -------------*/
.subheading {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.post_skills-tech {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: flex-end;
}
.post_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: .75rem;
}
.post_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    gap: 5px;
}
.post_icons li {display: inline-block;}
.post_icons img {
  display: block;
  width: 100%;     
  height: 20px;
  width:auto;     
}


    div {margin: 10px;}
    a {
        color: inherit;
        text-decoration: none;
    }
        a:hover {text-decoration: underline;}
    footer {
        margin-top: 100px;
        background-color: #36454f;
        color: #fff;
        font-size: small;
        text-align: center;
        padding: 20px;
    }

/* link to home page - for all pages except home page 
    .home-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

/* header styles across pages 
    header {margin-bottom: 30px;}
        .nonhome-page-heading {text-align: left;}
        .home-page-heading {text-align: center;}

/* post and skills page headings 
        .post-subheading {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        .post-subheading-skills {
            margin-left: auto;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            font-size: .75rem;
            text-decoration: none;
        }
        .post-content {margin-top: 120px;}

/* post-list formatting for projects and notes pages 

        .post-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
            .post-list-item:hover {text-decoration: underline;}
            h2.post-list {text-indent: 2rem;}
        .post-list-content {margin-top: 75px;}
        .post-list-date_category {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: right;
        }
        .post-list-_category {
            font-size:.75rem;
            font-style: italic; 
            border-top: 0.1px solid white;
        }

/* site home page 

    .header-blurb {
        font-size: small; 
        width: 60%; 
        line-height: 20px;
        margin: auto;
    }

    .nav {
            list-style-type: none;
            height: auto;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
    }
        ul.nav li:hover {
            color: #000;
            border-top: #36454f;
        }

    div.midpage {
        display: grid; 
        grid-template-columns: auto 35%;
        gap: 30px;
    }
        .venn-d {
            display: flex;
            flex-direction: column;
            justify-content: left;
            padding: 0;
            width: 100%;
            height: auto;
        }
        .about-me p {
            font-size: small;
            line-height: 20px;
        }
            div.socials button:hover {
                background-color: #fff;
            }

