* { box-sizing: border-box;}

/*============= default styles ============*/
    body {
        background-color: #f1f1f1;
        font-weight: 400;
        font-family: 'DejaVu sans Mono', monospace;
        width: 100%;
        max-width: 1400px;
        min-width: 0;
        padding: 40px;
        color: #36454f
    }
    a {text-decoration: none; color: inherit;}
    a:hover {text-decoration: underline;}

/*=============== HEADER STYLES ================*/

.title-section {margin-bottom: 70px;}
.title-blurb-section {width: 75%;}
.title-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav {
    display: flex; 
    justify-content: center;
    gap: 30px;
}

.home_nav_button {text-align: right;}

.post_subheading_top {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #36454f;
}
.post_subheading_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post_subheading_icon_imgs {
    width: 100%; 
    height: 20px; 
    object-fit: contain;}
    
.post_subheading_icon_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}

/*================== NAV-BAR-PAGE STYLES ==================*/

.projects-nav-post_list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px dashed #36454f;
}
.projects-nav-post_list-date-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px; 
}

/*    resources page     */

.resources-post_list-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px double #fff;
    padding: 10px;
    gap: 5px;
}

/*================= COLLECTION LAYOUT STYLES ===============*/

.icon_as_page_title {
    display: flex;
    width: auto; 
    height: 60px; 
    margin-bottom: 50px;
}
.icon_as_page_title_text {
    align-items: baseline;
    gap: 20px;
    font-weight: 800;
}

/*======================= MIDPAGE STYLES ============================*/

.mid-page {
    display: grid;   
    grid-template-columns: auto 25%;
    margin: 20px;
    padding: 20px;
}

.image {
    object-fit: fill;
    width: 100%;
    height: auto;
    padding: 30px;
}

.sm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-text p {
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}

.about-tech_stack {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}