* { box-sizing: border-box;}

/*============= default styles ============*/
    body {
        background-color: #f1f1f1;
        font-weight: 525;
        font-family: 'DejaVu sans Mono', monospace;
        line-height: 1.8;
        width: 100%;
        max-width: 1400px;
        min-width: 0;
        padding: 40px;
        color: #36454f
    }
    a {text-decoration: none; color: inherit;}
    a:hover {text-decoration: underline;}

/*=============== HEADER STYLES ================*/

.title-section {margin-bottom: 70px;}
.title-description-section {width: 75%;}
.title-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav {
    display: flex; 
    justify-content: center;
    gap: 30px;
}

.nav_to_home {
    text-align: right; 
    padding: 10px;
}

.post-subheading-top {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.post-subheading-bottom { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-subheading-icon_imgs {
    width: 100%; 
    height: 18px; 
    object-fit: contain;}
    
.post-subheading-icon_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}

/*================== NAV-BAR-PAGE STYLES ==================*/

.projects-nav-postlist {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px dashed #36454f;
}
.projects-nav-postlist-date_title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px; 
}

/*    resources page     */

.resources-postlist-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px double #fff;
    padding: 10px;
    gap: 15px;
}

/*================= COLLECTION LAYOUT STYLES ===============*/

.icon-as-page_title {
    display: flex;
    width: auto; 
    height: 60px; 
    margin-bottom: 50px;
}
.icon-as-page_title-text {
    align-items: baseline;
    gap: 20px;
    font-weight: 800;
}

/*======================= MIDPAGE STYLES ============================*/

.mid-page {
    display: grid;   
    grid-template-columns: auto 25%;
    margin: 20px;
    padding: 20px;
}

.home-diagram {
    object-fit: fill;
    width: 100%;
    height: auto;
    padding: 30px;
}

.sm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-text p {
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}

.tools-icons {margin-top: 100px;}

/*======================= POST PAGE STYLES ======================*/
 .post-img {
    border: 2px solid #36454f;
    width: 75%; 
    height: auto; 
    object-fit: contain;
}
