---
layout: default
---

{% include home-nav.md %}

<header class="nonhome-page-heading">
<h2>{{ page.skills }}</h2>
</header>

<hr>

<div class="post-list-content">
    {% for post in site.posts %}
        {% if post.category contains "project" %}
                {% include post-list.md %}
        {% endif %}
    {% endfor %}
</div>

<div class="post-list-content">
    {% for post in site.posts %}
        {% if post.category contains "reflection" %}
                {% include post-list.md %}
        {% endif %}
    {% endfor %}
</div>